<!DOCTYPE html>
<html>
  <head>
    <title>추원혁 의 자기소개 페이지</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/evans.css?v=<%=randomNumber%>" />
  </head>
  <body>
    <div class="bg_overlay"></div>
    <div class="mainCard">
      <div class="profileCard">
        <img class="myProfile" src="/images/evans_profile.jpg" />
        <h1 class="myProfileTitle">추 원혁</h1>
        <h3 class="myProfileSubTitle">Evans Benedict</h3>
      </div>
      <div class="myInfoContainer">
        <table class="myInfo">
          <tr>
            <th>이름</th>
            <td>추 원 혁</td>
            <th>생년월일</th>
            <td>Oct 15, 1999</td>
          </tr>
          <tr>
            <th>전공</th>
            <td>- 없음 -</td>
            <th>군대</th>
            <td>- 안감 -</td>
          </tr>
          <tr>
            <th>취미</th>
            <td colspan="3">게임하기, 사이드프로젝트 참견하기, 누워 뒹굴기</td>
          </tr>
          <tr>
            <th>활동분야</th>
            <td colspan="3">
              정보보안 또는 웹 해킹, 웹 개발, 윈도우 프로그램 개발
            </td>
          </tr>
          <tr>
            <th>좌우명</th>
            <td colspan="3">
              살려고 먹는 사람이 아니라 먹으려고 사는 사람이 되자
            </td>
          </tr>
          <tr>
            <th>연락처</th>
            <td colspan="3">
              이메일 :
              <a href="mailto:extoredkom@gmail.com"> extoredkom@gmail.com </a>
              <br />
              전화번호 : +82 10 2715 8741
              <br />
              텔레그램 : <a href="https://t.me/Sunglass_Duck">@Sunglass_Duck</a>
            </td>
          </tr>
          <tr>
            <th>GITHUB</th>
            <td colspan="3">
              <a href="https://github.com/rxstd">github.com/rxstd</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
