<!DOCTYPE html>
<html>
    <head>
        <title>고운소개</title>
    </head>
    <body>
        <h1>천재는 노력하는 사람을 이길 수 없고,<br>노력하는 사람은 즐기는 자를 이길 수 없다. </h1>

        <img src="/images/img_gown.jpg" width="50%"/>

        <p><걸어온 길><br>
            전통문화유산의 보존을 위해 조사, 연구, 기록 등의 업무를 수행<br>
            2003년~2005년 건축공학과 졸업, 문화재 아르바이트를 시작하게 되면서 문화재 발굴현장에 투입<br>
            2007년~2011년 3D스캔 기술을 접목하여 3D스캔 후처리 데이터를 통한 역설계 데이터 구축방법을 터득<br>
            2008년~2012년 문화재학과 실측전공 석사과정을 밟게 되면서 건축문화재에 대한 전문적인 지식을 습득<br>
            2014년~2019년 건축사사무소에 입사하여 BIM데이터 구축을 통한 목조건축문화재 정밀실측용역을 수행<br>
        </p>

        <p><앞으로 걸어갈 길><br>
            문화재 분야 AI 서비스 개발을 향하여...
        </p>
        
    </body>
</html>