<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Gang기도 이환영</title>
</head>

<body style="text-align: center";>

    <image src ="./image/v.jpg" width="400">

    </image>
    
    <form>

    이름:이환영<br/>
    나이:24<br/>
    사는곳:경기도 의왕시<br/>
    전공: 제과제빵<br/>
    참여계기:주변사람들의 권유+흥미가 생김 <br/>
    MBTI:ENFP<br/>
    좋아하는것: 노래듣기, 게임<br/>
    좋아하는음식: 민트 녹차 고수<br/>
    지식수준: 응애 아기<br/>
    목표:열심히 모자란 지식 채우면서 따라가기<br/>
    
</form>

</body>
</html>


