<!--
channel_msg_id :: 채널 메시지 고유번호
channel_id :: 채널 고유번호
member_id :: 회원 고유번호
nick_name :: 닉네임
msg_type_code :: 메시지 유형 코드
connection_id :: 연결 ID
message :: 메시지 내용
ip_address :: IP 주소
top_channel_msg_id :: 상위 채널 메시지 ID
msg_state_code :: 메시지 상태 코드
msg_date :: 메시지 등록 일시
edit_date :: 메시지 수정 일시
del_date :: 메시지 삭제 일시
-->

<form action="/message/create" method="post" id="articleForm">
  <div class="ibox-content m-b-sm border-bottom">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label" for="channel_id">채널 선택</label>
          <select name="channel_id" id="channel_id" class="form-control">
            <% for (var i = 0; i < channelList.length; i++) { %>
            <option value="<%= channelList[i].channel_id %>">
              <%= channelList[i].channel_name %>
            </option>
            <% } %>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label" for="msg_type_code">메시지 타입</label>
          <select name="msg_type_code" id="msg_type_code" class="form-control">
            <option value="1">입장</option>
            <option value="0">퇴장</option>
            <option value="3" selected>일반</option>
            <option value="4">파일</option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label" for="nick_name">발송자 닉네임</label>
          <input
            type="text"
            class="form-control"
            name="nick_name"
            id="nick_name"
            value="운영자"
          />
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label class="control-label" for="message">메시지 내용</label>
          <input type="text" class="form-control" name="message" id="message" />
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">저장</button>
    <a href="/message/list" class="btn btn-info">목록</a>
  </div>
</form>
