<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 수정 목록 페이지</title>
</head>
<body>
    <h1>게시글 수정 목록 페이지</h1>

    <form action="/article/modify" method="post">
        <input type="submit" value="저장" />
    </form>
    <form action="/article/delete" method="get">
        <input type="submit" value="삭제" />
    </form>

</body>
</html>